In [313]:
import pandas as pd
import numpy as np

In [314]:
data=pd.read_csv(r"C:\Users\KIIT\Desktop\DIVINE AI\USA_Housing.csv")

In [315]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Address                       5000 non-null   object
 6   Price                         5000 non-null   float64
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [316]:
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Address,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701...",1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,"188 Johnson Views Suite 079\nLake Kathleen, CA...",1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,"9127 Elizabeth Stravenue\nDanieltown, WI 06482...",1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,USS Barnett\nFPO AP 44820,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,USNS Raymond\nFPO AE 09386,6.309435e+05
...,...,...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103,USNS Williams\nFPO AP 30153-7653,1.060194e+06
4996,78491.27543,6.999135,6.576763,4.02,25616.11549,"PSC 9258, Box 8489\nAPO AA 42991-3352",1.482618e+06
4997,63390.68689,7.250591,4.805081,2.13,33266.14549,"4215 Tracy Garden Suite 076\nJoshualand, VA 01...",1.030730e+06
4998,68001.33124,5.534388,7.130144,5.44,42625.62016,USS Wallace\nFPO AE 73316,1.198657e+06
4999,65510.58180,5.992305,6.792336,4.07,46501.28380,"37778 George Ridges Apt. 509\nEast Holly, NV 2...",1.298950e+06

In [317]:
data.drop("Address",axis =1,inplace=True)

In [318]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05

In [319]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
dtypes: float64(6)
memory usage: 234.5 KB

dtfining x and y

In [320]:
x=data.drop("Price",axis=1)

In [321]:
x

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.45857,5.682861,7.009188,4.09,23086.80050
1,79248.64245,6.002900,6.730821,3.09,40173.07217
2,61287.06718,5.865890,8.512727,5.13,36882.15940
3,63345.24005,7.188236,5.586729,3.26,34310.24283
4,59982.19723,5.040555,7.839388,4.23,26354.10947
...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103
4996,78491.27543,6.999135,6.576763,4.02,25616.11549
4997,63390.68689,7.250591,4.805081,2.13,33266.14549
4998,68001.33124,5.534388,7.130144,5.44,42625.62016
4999,65510.58180,5.992305,6.792336,4.07,46501.28380

In [322]:
y=data["Price"]

In [323]:
y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

In [324]:
x.shape

(5000, 5)

In [325]:
y.shape

(5000,)

Splitting the data in  train_test_split

In [326]:
from sklearn.model_selection import train_test_split

In [327]:
x_train , x_test, y_train , y_test=train_test_split(x,y,test_size=.35) ## .35 gives the best accuracy

In [328]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(3250, 5)
(1750, 5)
(3250,)
(1750,)

IMPOrting LIner regreesion model and fitting

In [329]:
from sklearn.linear_model import LinearRegression

In [330]:
regressor=LinearRegression()

In [331]:
regressor=regressor.fit(x_train,y_train)

In [332]:
regressor

LinearRegression()

In [333]:
y_predict=regressor.predict(x_test)

In [334]:
y_predict

array([1285713.80877866, 1070179.0425367 , 1308478.14821777, ...,
       1492298.55636956, 1032088.59953201, 1012098.51192349])

In [335]:
x_test

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
3381,62519.35043,7.338549,6.590287,3.03,36889.39532
1580,68985.15274,5.754109,8.382275,6.45,16288.31457
4609,58568.62846,6.525802,7.655534,5.25,44067.08736
2975,66197.67377,5.790273,5.895335,4.19,55849.46922
1483,68195.03375,6.621486,7.801897,6.11,26921.60365
...,...,...,...,...,...
461,68500.81624,5.842971,7.031799,5.36,51746.72764
55,63819.62285,5.949839,8.022469,4.09,27825.57206
613,69277.75898,5.322270,7.206178,5.32,57408.31289
1705,65018.54121,5.981193,6.449330,3.20,32580.78018
2241,52267.24735,6.649261,8.512295,3.48,25983.51970

In [336]:
accuracy=regressor.score(x_test,y_test)

checking accuracy

In [337]:
print(accuracy*100 ,"percent" )

91.70963231747669 percent

#hence in the .score part the two argumnets must be x_test and y_test nothing else 
#x_test and y_predict would produce 100 percent accuracy
#the model learns from the training data and try to create the predicted data and then it compares the predicred data with the y_test data to see how much correct it is.

we can change the accuracy by changung the train test split . 
hence  the main objective is to select a perfect split that gives the best accuracy . 
the split can be changed by changing the test_size value