In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [50]:
data=pd.read_csv(r"C:\Users\KIIT\Desktop\DIVINE AI\HR_comma_sep.csv")

In [51]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [52]:
data.shape

(14999, 10)

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [54]:
data["salary"].value_counts()

low       7316
medium    6446
high      1237
Name: salary, dtype: int64

In [55]:
data["sales"].value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: sales, dtype: int64

In [56]:
data.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

In [57]:
x=data[['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 
       'promotion_last_5years']]

In [58]:
y=data["left"]

In [59]:
print(x.shape)
print(y.shape)

(14999, 7)
(14999,)

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
x_train, x_test ,y_train ,y_test=train_test_split(x,y,test_size=.30,random_state=1)

In [62]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(10499, 7)
(4500, 7)
(10499,)
(4500,)

In [63]:
from sklearn.linear_model import LogisticRegression

In [64]:
model=LogisticRegression()

In [65]:
model=model.fit(x_train , y_train)

C:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [66]:
y_predict=model.predict(x_test)

In [67]:
score=model.score(x_test,y_test)

In [68]:
accuracy=score*100

In [69]:
print(accuracy,"%")

76.26666666666667 %