STATISTICS

In [5]:
import pandas as pd
import numpy as np

In [6]:
data={
    "roll":[2,3,8,4,5],
    "paper":["a","b","c","d","e"],
    "marks":[np.nan,34,45,56,67
            ]
}

In [7]:
df1=pd.DataFrame(data)

In [8]:
df1

   roll paper  marks
0     2     a    NaN
1     3     b   34.0
2     8     c   45.0
3     4     d   56.0
4     5     e   67.0

the statistics function can be used for both the ways below

In [9]:
df1.loc[:,"marks"].sum()  ## gets the sum of the mentioned colomn

202.0

In [24]:
df1.loc[0:3 ,["roll","paper"]   ]

   roll paper
0     2     a
1     3     b
2     8     c
3     4     d

In [11]:
df1["marks"].sum()  ## gets the sum of the mentioned colomn

202.0

In [12]:
df1.loc[:,"marks"].mean()    ##  gets the mean of the mentioned colomn

50.5

In [13]:
df1.loc[:,"marks"].cumsum()    ##  gets the cummulative sum of the mentioned colomn

0      NaN
1     34.0
2     79.0
3    135.0
4    202.0
Name: marks, dtype: float64

In [14]:
df1.loc[:,"marks"].count()    ##  counts the number of rows or colomns for the mentioned arguments ,here marks

4

In [15]:
df1.loc[:,"marks"].min()    ##  gets the minimn marks of the mentioned colomn

34.0

In [16]:
df1.loc[:,"marks"].max()    ##  gets the maximun marks of the mentioned colomn

67.0

In [17]:
df1.loc[:,"marks"].var()    ##  gets the variance of data of the mentioned colomn

201.66666666666666

In [18]:
df1.loc[:,"marks"].std()    ##  gets the standard deviation of the mentioned colomn

14.200938936093861

In [19]:
df1.corr()   ## gives te correelation of the numerical dtats in the dataset

           roll     marks
roll   1.000000  0.119523
marks  0.119523  1.000000