# Control flow statements

(i)Conditional statement (if...elif..else)
(ii)Transfer statement (pass,continue)
(iii)Iterative statement (for,while)

Conditonal statement

In [12]:
"""
    if <condition>:
        print()
"""

a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

**Qno1- Take values of length and breadth of a rectangle from user and check if it is square or rectangle

In [13]:
#Short Hand If & If..else
if a > b: print("a is greater than b")

a is greater than b

In [16]:
#Short Hand If & If..else
a = 2
b = 330
print("A") if a > b else print("B")

B

**Qno2- Take two variables with integer value and find and print whether variable is greater,smaller or both are equals by using short hand if..else method

In [17]:
#Qno2-
a=33
b=330
print("A") if a>b else print("Equals") if a==b else print("B")

B

Transfer Statements

In [18]:
"""Pass Statement:
when the pass is executed. It results in no operation."""
for num in [20, 11, 9, 66, 4, 89, 44]:
    if num%2 == 0:
        pass
    else:
        print(num)

11
9
89

In [19]:
"""Continue statement:
The continue statement is used to skip the rest of the code inside a loop for the current iteration only.
Loop does not terminate but continues on with the next iteration."""

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

In [20]:
"""Break statement:
*The break statement terminates the loop containing it.
Control of the program flows to the statement immediately after the body of the loop.

*If the break statement is inside a nested loop (loop inside another loop),the break statement will terminate the innermost
loop.
"""
for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

Iterative statement

In [21]:
#While Loop
"""Syntax of while Loop in Python-
while <test_expression>:
    Body of while
"""

i = 0
while i < 6:
    print(i)
    i += 1

0
1
2
3
4
5

**Qno3- Take user input as integer value and print factorial of a no. using while loop

In [22]:
#For Loop
"""Syntax of for Loop-
for val in sequence:
    Body of for
"""

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [23]:
for i in range(4,20,2):
    print(i)

4
6
8
10
12
14
16
18

In [24]:
for i in range(4,20,2):
    print(i,end=' ')

4 6 8 10 12 14 16 18

**Qno4- Take user input as integer value and calculate the sum of all number from 1 to a given number using for loop

Input-20
Output-210

# Lists

In [26]:
mylist = ["apple", "banana", "cherry", "grapes", "papaya", "apple"]

List:- 
*Lists are used to store multiple items in a single variable. 
*Lists are ordered, it means that the items have a defined order, and that order will not change.If you add new items to a list, the new items will be placed at the end of the list.
*List is changeable, meaning that we can change, add, and remove items in a list after it has been created.
*Since lists are indexed, lists can have items with the same value.

In [27]:
print(mylist)
print(len(mylist))

['apple', 'banana', 'cherry', 'grapes', 'papaya', 'apple']
6

In [28]:
list1 = ["abc", 34, True, 40, "male","unmarried"]

In [29]:
#Accessing of items in list
print(list1[1]) #34-sonam
print(list1[-1])  #unmarried-preeti
print(list1[2:5]) #True,40,male-sasmita

34
unmarried
[True, 40, 'male']

In [30]:
#Check if Item Exists
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [31]:
#Change Item Value
thislist[1] = "blackcurrant"
print(thislist)

#Change a Range of Item Values
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'watermelon']

In [32]:
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [33]:
#Append Items-To add an item to the end of the list, use the append() method
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [34]:
#Extend List-To append elements from another list to the current list, use the extend() method.
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [37]:
#Add Any Iterable-The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange") #tuple
thisset = {"pineapple", "mango"} #set
thisdict = {"papaya":5, "watermelon":2} #dict
thislist.extend(thistuple)
thislist.extend(thisset)
thislist.extend(thisdict)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange', 'mango', 'pineapple', 'papaya', 'watermelon']

In [38]:
thislist = ['apple', 'banana', 'cherry', 'kiwi', 'orange', 'pineapple', 'mango', 'papaya', 'watermelon']
#Remove Specified Item
thislist.remove("banana")
print(thislist)
print("\n")

#Remove Specified Index
thislist.pop(1)
print(thislist)
print("\n")
thislist.pop()
print(thislist)
print("\n")
del thislist[0]
print(thislist)

#Clear the List-The clear() method empties the list.
thislist.clear()
print("\nafter clear()\n",thislist)

['apple', 'cherry', 'kiwi', 'orange', 'pineapple', 'mango', 'papaya', 'watermelon']


['apple', 'kiwi', 'orange', 'pineapple', 'mango', 'papaya', 'watermelon']


['apple', 'kiwi', 'orange', 'pineapple', 'mango', 'papaya']


['kiwi', 'orange', 'pineapple', 'mango', 'papaya']

after clear()
 []

In [39]:
#Loop Through a List
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [40]:
#sorting a list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort() #asc
print(thislist)
thislist.sort(reverse = True) #desc
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

**QNO5- Take user input list and the list should contains all types of data. Print the list in ascending as well as in descending order

In [43]:
list=[]
num=int(input())
for i in range(num):
    elements=input()
    list.append(elements)
print(list)
list.sort()
print(list)
list.sort(reverse = True)
print(list)

3
96
64.5
hi
['96', '64.5', 'hi']
['64.5', '96', 'hi']
['hi', '96', '64.5']

In [44]:
#joining of lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

#method-1
list3 = list1 + list2
print(list3)

#method-2
for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

List Comprehension

In [45]:
"""List Comprehension- List comprehension offers a shorter syntax when you want to create a new list based on the values 
of an existing list.

syntax-
"""

#without list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [46]:
#with list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

**Qno6- Accept only numbers lower than 5 using list comprehension

# Tuples

In [ ]:
mytuple = ("apple", "banana", "cherry")

Tuple:-
*Tuples are used to store multiple items in a single variable.
*A tuple is a collection which is ordered and unchangeable.
*Tuple items are ordered,it means that the items have a defined order, and that order will not change. 
*Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
*Tuple are unchangeable,meaning that we cannot change, add or remove items after the tuple has been created.
*Tuples  allow duplicate values.

In [47]:
mytuple = ("apple", "banana", "cherry", "apple", "cherry")
print(mytuple)
print(len(mytuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5

In [48]:
#Accessing of tuples
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1]) #banana-soumesh
print(thistuple[-4]) #orange-ritik
print(thistuple[3:5]) #orange,kiwi-raunak
print(thistuple[-4:-1]) #orange,kiwi,melon-rahool
print(thistuple[-3:1]) #mohit

banana
orange
('orange', 'kiwi')
('orange', 'kiwi', 'melon')
()

In [49]:
#Change of tuple values

#You can convert the tuple into a list, change the list, and convert the list back into a tuple.
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

TypeError: 'list' object is not callable

In [50]:
#Adding items to tuples
"""We can't directly add items to tuple"""
y = list(x)
y.append("orange")
x = tuple(y)

print(x)

TypeError: 'list' object is not callable

In [ ]:
#Removing items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

In [51]:
#looping in tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [52]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

In [ ]:
#Join two tuples

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

In [53]:
#Multiply the fruits tuple by 2

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')